.message-container {
    height: 500px;
    text-align: left;
    overflow-y: scroll;
    max-width: 800px;
}

div.teams-row {
    display: inline-block;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.forum-btn {
    background-color: #29318b;
}

.card, .card-body, .card-header {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.card-header {
    background-color: #29318b;
    color: white;
    ;
}

.card-body {
    background-color: #9cace6
}

.list-group-item {
    margin: 2%;
}

.teams.row {
    width: 700px;
    margin: 0;
}

h3 {
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #9cace6;
}

h2 {
    margin-top: 40px;
    background-color: #9cace6;
    padding-top: 2%;
    padding-bottom: 2%;
}

.pokemon-name {
    position: inherit;
    float: left;
    font-size: 15px;
}

.pokemon-types {
    position: inherit;
    float: right;
    font-size: 13px;
}

.teams {
    padding-bottom: 10%;
}

.user-teams {
    float: left;
    padding: 0;
    width: 700px;
}

.forum {
    float: right;
    padding: 0;
}

textarea {
    width: 800px;
    max-width: initial;
}

.home-page-components {
    display: inline;
}

.teams-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}