.Login, .new-user-form {
    margin-top: 5%;
}

Button.login-button {
    width: 100%;
    margin-top: 5%;
    text-align: center;
    
}

.new-user-form {
    width: 100%;
    text-align: center;
    background-color: #f6525a;
    padding: 1%;
}


    
    
