.Login, .new-user-form {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

Button.login-button {
    width: 50%;
    margin-top: 5%;
    text-align: center;
    background-color: #9cace6
}

.new-user-form {
    width: 40%;
    text-align: center;
}


    
    
