.pokemon-card-stats {
    font-size: 0.6rem;
    background-color: #ff8b83

    ;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.poke-card-body.card-body {
    background-color: #c5c5c5

    ;
}

.card-title.h5 {
    background-color: #294a8b


    ;
    color: white;
    padding-top: 5px;
    font-size: 1.3rem;
}

.card-subtitle.h6 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}