.EVslider {
    width: 48%;
    text-align: left;
}
.ev-input {
    float: right;
    width: 66%;
    margin-right: 9px;
}

.ev-form {
    height: 288px;
}

.ev-label, .ev-input {
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 10px;
}

.dv-label {
    text-align: left;
    margin-left: 10px;
}

.ev-form {
    border-color: #f6525a
    ;
    border-style: double;
    background-color: rgba(255, 255, 255);
}

.IVselector {
    width: 100%;
    margin-top: 2%;
    border-style: double;
    border-color: #f6525a
    ;
    background-color: rgba(255, 255, 255);
}

.dv-input {
    float: right;
    margin-right: 25%;
    height: 24px;
}

.ev-header, .dv-header {
    background-color: #f6525a
    ;
    color: white;
}

.dv-header {
    width: 100%;
}

.team-creator-showcase-container {
    background-color: #c5c5c5;
    
}

.move-form {
    margin-top: 5%;
    float: right;
    width: 48%;
    border-color: #f6525a
    ;
    border-style: double;
    background-color: rgba(255, 255, 255);
}

.move-header {
 text-align: right;
 background-color: #f6525a
 ;
 color: white;
}

Button.save-team-btn.btn.btn-primary {
    border: none;
    width: 100%;
    background-color: #ff8b83;
}

.pokemon-type-desc {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #8bd5ff;
    margin-bottom: 0;
}

select.move {
    box-shadow: 1px 10px #f6525a;
    width: 100%;
    float: left;
    height: 2rem;
    margin-top:  2rem;
    margin-bottom: 2rem;
    text-align: justify;
}


