@font-face {
  font-family: 'pokemon_gbregular';
  src: url('./fonts/pokemongb-raeo-webfont.woff2') format('woff2'),
       url('./fonts/pokemongb-raeo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

div.App {
  text-align: center;
  font-family: 'pokemon_gbregular';
  height: 100%;
  background-color: white;
  overflow: auto;
  
}

.welcome-components {
  padding-bottom: 100%;
}
.welcome-border {
  margin-left: 25%;
  margin-right: 25%;
  padding: 2%;
  margin-top: 5%;
  border-style: double;
}

.welcome-btn {
  
}

div.Login {
  padding: 1%;
  background-color: #f6525a
  ;
}

html {
  padding-left: 10%;
  padding-right: 10%;
  background-image: url('./images/voltorb-sprite-art.png');
  background-repeat: repeat;
  background-attachment: fixed;
  height: 100%;
  overflow: scroll;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

Button:hover, .btn.btn-primary:hover {
  background-color: #294a8b
  ;
  color: white;
}

Button, .btn.btn-primary {
  background-color: #c5c5c5;
  color: black;
}

