@font-face {
  font-family: 'pokemon_gbregular';
  src: url('./fonts/pokemongb-raeo-webfont.woff2') format('woff2'),
       url('./fonts/pokemongb-raeo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: 'pokemon_gbregular';
  margin-left: 10%;
  margin-right: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Button:hover, .btn.btn-primary:hover {
  background-color: #004183;
  color: white;
}

Button, .btn.btn-primary {
  background-color: #9cace6;
  color: black;
}
